nav {
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    width: 140vw;
    align-items: center;
    position: fixed; 
}

.logo img{
    width: 20vw;
}

.links {
    visibility: hidden;
}

/* .button {
    padding: 10vw;
} */

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #540B51;
    height: 100vh;
    width: 140vw;
}


